# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/
.envrc

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Database / local files
*.sqlite3

# GeoIP database
geoip/*.mmdb

# Docker
*.pid
